#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
**/.vs/
**/obj/Debug/
**/obj/
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/apphost.exe
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/PocketPlanner.assets.cache
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/PocketPlanner.GeneratedMSBuildEditorConfig.editorconfig
/PocketPlanner/PocketPlanner/obj/PocketPlanner.csproj.nuget.dgspec.json
/PocketPlanner/PocketPlanner/obj/PocketPlanner.csproj.nuget.g.props
/PocketPlanner/PocketPlanner/obj/project.assets.json
/PocketPlanner/PocketPlanner/obj/project.nuget.cache
/PocketPlanner/PocketPlanner/.vs/PocketPlanner/v17/.futdcache.v2
/PocketPlanner/PocketPlanner/.vs/PocketPlanner/v17/.suo
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/PocketPlanner.GeneratedMSBuildEditorConfig.editorconfig
/PocketPlanner/PocketPlanner/.vs/PocketPlanner/DesignTimeBuild/.dtbcache.v2
/PocketPlanner/PocketPlanner/.vs/PocketPlanner/v17/.futdcache.v2
/PocketPlanner/PocketPlanner/.vs/PocketPlanner/v17/.suo
/PocketPlanner/PocketPlanner/bin/Debug/net6.0/PocketPlanner.dll
/PocketPlanner/PocketPlanner/bin/Debug/net6.0/PocketPlanner.exe
/PocketPlanner/PocketPlanner/bin/Debug/net6.0/PocketPlanner.pdb
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/apphost.exe
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/PocketPlanner.assets.cache
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/PocketPlanner.csproj.CoreCompileInputs.cache
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/PocketPlanner.csproj.FileListAbsolute.txt
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/PocketPlanner.dll
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/PocketPlanner.GeneratedMSBuildEditorConfig.editorconfig
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/PocketPlanner.genruntimeconfig.cache
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/PocketPlanner.pdb
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/staticwebassets/msbuild.build.PocketPlanner.props
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.PocketPlanner.props
/PocketPlanner/PocketPlanner/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.PocketPlanner.props
/PocketPlanner/PocketPlanner/obj/PocketPlanner.csproj.nuget.dgspec.json
/PocketPlanner/PocketPlanner/obj/PocketPlanner.csproj.nuget.g.props
/PocketPlanner/PocketPlanner/obj/project.assets.json
/PocketPlanner/PocketPlanner/obj/project.nuget.cache
/PocketPlanner/PocketPlanner/obj/staticwebassets.pack.sentinel
